*{
    margin:0;
    padding:0;
}
body{
    margin: 0;
    width: 100vw;
    max-width: 768px;
    overflow-x: hidden;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
em{
    font-style: normal;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clear::after {
    content: '';
    display: block;
    clear: both;
}
a{
    color: #000;
    -webkit-tap-highlight-color:transparent;
}
/* 头部 */
.header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
    position: relative;
    background-color: #FFF;
}
.header::after{
    content: '';
    position: absolute;    
    top:100%;    
    width: 100%;    
    left:0;       
    height:0px;    
    border-top: solid  #EEEEEE 1px;
    z-index: 999;
}
.header a:first-child::after{
    content: '';
    width: 40px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
}
.header a.left img{
    width: 8.5px;
    height: auto;
}
.header .center img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80px;
    height: auto;
}
.header .right img{
    width: 20px;
    height: auto;
}
.header .right::after{
    width: 40px;
	height: 50px;
	content: '';
	position: absolute;
	top: 0;
	right: 0;
}
/* 横幅广 告 */
.add{
    width: 100vw;
    height: 60px;
    min-height: 60px;
    max-height: 60px;
    margin-left: -16px;
}
.add img{
    width: 100%;
    height: 100%;
   
}
.notice{
    width: 100%;
    height: auto;
    padding: 8px 12px;
    box-sizing: border-box;
    background-color: rgba(255, 240, 223, 1);
}
.notice a{
    color: #FF9C2E;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.notice img{
    width:14px ;
    height: 14px;
}

.core {
    width: 100%;
    height: auto;
    padding: 15px 16px 30px ;
    box-sizing: border-box;
    position: relative;     
    margin-bottom: 10px;     
}
.core::after{
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0px;
    content: '';
    height: 0px;
    border-top: solid #F8F8F8 10px;
    z-index: 99;
}
.core .title{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */

}
.core .title h3{
    color: #333333;
    text-align: justify;
    font-size: 24px;
    font-weight: bold;
}
.core .title>div{
    font-size: 14px;
    color:#878787;
    margin: 10px 0;
    margin-right: 10px;
}
.core .title>div span{
    margin-left: 10px;
}
.core .content{
    font-size: 19px;
    color: #333333;
    text-indent:36px;
    line-height: 30px;
    letter-spacing: .2px;
    text-align: justify;
    height: 50vh;
    overflow: hidden;
    transition: .5s;
    word-break: break-all; 
}
.core .more{
    position: absolute;
    width: calc(100% - 30px);
    bottom: 10px;
    color: #FF9C2E;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-top: 10px;
    font-size: 15px;
    justify-content: center;
    z-index: 99;
}
.core .mask{
    position: absolute;
    bottom: 30px;
    left: 0;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    height: 30vh;
    width: 100vw;
}

/* 招生简章相关推荐 */
.tjModules{
    width: 100%;
    height: auto;
    padding:  16px 16px 0;
    box-sizing: border-box;
}
.tjModules .title{
    color: #282828;
    font-size: 20px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    padding-bottom: 10px;
    border-bottom:1px solid #F7F7F7;
}
.tjModules .title::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 80px;
    height: 2px;
    background-color: #FD8333;
}
.tjModules .title a{
    color: #FF5F2E;
    margin-left: auto;
    font-weight: normal;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.tjModules .title a img{
    width: 14.5px;
    height: auto;
    margin-right: 5px;
}
.tjModules>ul{
}
.tjModules ul li{
    font-size: 18px;
    color: #CCCCCC;
    position: relative;
    font-weight:400;
    
}
/* .tjModules ul li::before{
    content: '';
    height: 5px;
    width: 5px;
    background-color: #CCCCCC;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
} */
.tjModules ul li a{
    color: #666666;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #F7F7F7;
    /* margin: 10px 0; */
    padding: 15px 0;
}
.tjModules ul li:last-child a{
    border: none;
}
.tjModules ul li a div:first-child{
    text-align: justify;
    color: #363636;
    margin-bottom: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.tjModules ul li a div.newImg{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.tjModules ul li a div.newImg>img{
    width: 33%;
    height: auto;
    border-radius: 3px;
}
.tjModules ul li a div:last-child{
    color: #878787;
    font-size: 14px;
}

/* 版权所有 */
/* .bq{
    width: 100%;
    height: 35px;
    color: #999999;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
    background-color: #E5E5E5;
    border-top: 15px #FFF solid;
} */
