html,body {
	position:relative;
	/* height:100%; */
}
* {
	padding:0;
	margin:0;
}
ul,ol{
    list-style: none;
}
a{
	text-decoration: none;
	-webkit-tap-highlight-color:transparent;
}
em{
    font-style: normal;
}
body {
	margin: 0;
    font-size:14px;
    font-family:Microsoft YaHei;
	width: 100vw;
	/* height: 100vh; */
    max-width: 768px;
	overflow-x: hidden;
	/* overflow-y: auto; */
}

.header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    box-sizing: border-box;
    position: relative;
}
.header::after{
    content: '';
    position: absolute;    
    top:100%;    
    width: 100%;    
    left:0;       
    height:0px;    
    border-top: solid  #EEEEEE 1px;
    z-index: 999;
}
/* .header .left img{
    width: 9px;
    height: auto;
} */
.header .center{
	font-size: 20px;
	color: #666666;
}

.header .center img {
    width: 80px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.header .center img{
    width: 80px;
    height: auto;
}
.header .right img{
    width: 20px;
    height: auto;
}
.box{
	position: relative;
	top: 0px;
	background-color:#fff;
}
#top {
	z-index:5;
	background-color:#fff;
	position: sticky;
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	top: 0;
}
#top .search{
	height: 35px;
	width: 36px;
	position: absolute;
	right: 5px;
	top: 0;
	border-bottom:1px solid #ebebeb;
}
#top .search a img{
	width: 18px;
	height: auto;
}

.swiper-wrapper{
	height: auto;
}
#nav {
	border-bottom:1px solid #ebebeb;
	width: 100%;
	position: absolute;
	left: 0;
	background-color: #fff;
}
#nav .swiper-slide span {
	margin:0 5px;
	text-align:center;
	display:block;
	line-height:2.5;
	font-size:16px;
	min-width: 56px;
	color:#333333;
	cursor: pointer;
	-webkit-tap-highlight-color:transparent;
}
#nav .bar {
	width:50px;
	height:2px;
	position:absolute;
	bottom:0px;
}
#nav .bar .color {
	width:20px;
	margin:0 auto;
	height:2px;
	background:rgba(255, 156, 46, 1);
}
.banner img {
	width:100%;
	display:block;
}
.banner	.swiper-pagination {
	left:auto;
	right:7px;
	bottom:7px;
	width:auto;
	padding:2px 7px;
	border-radius:10px;
	color:#fff;
	background:rgba(0,0,0,.3);
}
#page {
	/* margin-bottom:50px; */
	padding-top: 40px;
	/* height:100%; */
}
#page .slidepage {
	/* height:100%; */
}
.scroll {
	/* height:100%; */
}
.slidescroll {
	height:auto;
}



/* 文章列表样式 */
.hotList{
    width: 100%;
	height: auto;
	padding: 0px 16px ;
	box-sizing: border-box	;
}
.hotList .article{
    display: block;
    width: 100%;
    height: auto;
    min-height: 81px;
    display: flex;
    position: relative;
    padding: 15px 0px ;
    box-sizing: border-box;
    color: #363636;
}
.hotList .article:not(:last-child)::after{
    position: absolute;    
    top:100%;    
    width: 100%;    
    left:0px;    
    content: '';    
    height:0px;    
	border-top: solid #F7F7F7  1px;
}
.hotList .article .font{
	flex: 1;
    overflow: hidden;
	display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.hotList .article .font p{
    display: block;
    font-size: 17px;
	color: #333333;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
    text-align: justify;
    margin-bottom: 10px;
}
.hotList .article .font >div{
    color: #999999;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
}
.hotList .article .pic {
	width: 38%;
	height: 75px;
	padding-left: 10px;
	overflow: hidden;
}
.hotList .article .pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hotList .article .font >span{
    color: #999999;
    font-size: 12px;
}
.Modules{
	width: 100%;
	height: auto;
	border-bottom: 1px solid #F7F7F7;
	padding-bottom: 10px;
}
.Modules .adImg {
	display: block;
	width: 100%;
	height: auto;
	max-height: 92px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}

.Modules .adImg a {
	display: block;
	width: 49%;
	height: auto;
	max-height: 92px;
	display: flex;
	justify-content: space-between;
	
}
.Modules .adImg img{
	width: 100%;
	height: auto;
	border-radius: 4px;
	overflow: hidden;
}
.Modules .adFour{
	display: flex;
    align-items: center;
	justify-content: space-between;
}

.Modules .adFour em{
    width: 1px;
    height: 16px;
    background-color: #C0BEBC;
}
.Modules .adFour a{
	color:#333333 ;
	font-size: 15px;
}
/* 版权所有 */
.bq{
    width: 100%;
    height: 35px;
    color: #999999;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
    background-color: #E5E5E5;
}

.nomore{
    width: 100%;
    height: auto;
    padding: 10px;
    color: #CCCCCC;
    font-size: 12px;
    text-align: center;
    box-sizing: border-box;
}

.next{
    width: 100%;
    height: auto;
    padding: 17px 15px 15px; 
    color: #CCCCCC;
    font-size: 13px;
    text-align: center;
	box-sizing: border-box;
	background-color: #F8F8F8;
	display: flex;
}
.next a{
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: #666666;
	background-color: #FFFFFF;
	border-radius:12px;
}
.next a img{
	margin-left: 5px;
	width: 12px;
	height: auto;
}